<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voltron.router.demo.mod_kotlin">

    <application>
        <activity android:name=".TestInheritActivity" android:label=".TestInheritActivity" />
        <activity android:name=".KotlinTestActivity" android:label=".KotlinTestActivity" />
        <activity android:name=".DemoServiceActivity" android:label=".DemoServiceActivity" />
    </application>

</manifest>