<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voltron.router.demo.mod_java">
<uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name=".DemoAActivity"  android:label=".DemoAActivity" />
        <activity android:name=".DemoSchemeActivity"  android:label=".DemoSchemeActivity" />
        <activity android:name=".DemoSchemeHostPathActivity" android:label=".DemoSchemeHostPathActivity" />
        <activity android:name=".DemoPathOnlyActivity" android:label=".DemoPathOnlyActivity" />
        <activity android:name=".DemoWebViewActivity" android:label=".DemoWebViewActivity" />
        <service android:name=".service.DemoServices" android:label=".service.DemoServices" />
        <service android:name=".service.DemoBindServices" android:label=".service.DemoBindServices" />
    </application>

</manifest>